*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
 }
 #logo{
     width: 200px;
 }
 .nave{
     display: flex;
     flex-direction: column;
     align-items: center;
     z-index: ;
     
 }
 #dive{
    display: flex;
     gap: 40px;
 }